{% extends "interest/layout.html" %}

{% block title %}
  Interest
{% endblock %}

{% block body %}
<style>
    .button-on {
        background-color: green;
    }

    .button-off {
        background-color: grey;
    }
    #centerButton {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

    .button {
        background-color: blue;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }
</style>

<button id="toggleButton" class="button-off" onclick="toggleButton()">Off</button>

<script>
    function toggleButton() {
        var button = document.getElementById('toggleButton');
        var currentState = button.classList.contains('button-on') ? 'off' : 'on';

        fetch("{% url 'index' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: JSON.stringify({ state: currentState })
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            if (data.success) {
                button.classList.toggle('button-on');
                button.classList.toggle('button-off');
                button.textContent = data.message;
            } else {
                console.error(data.error);
            }
        })
        .catch(function(error) {
            console.error("An error occurred:", error);
        });
    }
</script>
<div id="centerButton">
  <form method="POST" action="{% url 'connect' %}">
      {% csrf_token %}
      <button class="button" type="submit">Connect</button>
  </form>
</div>
{% endblock %}