{% extends "interest/layout.html" %}

{% block title %}
  Chat
{% endblock %}

{% block body %}
    <style>
        .button {
            background-color: red;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }
    </style>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/interest/'
            + roomName
            + '/'
        );
        const user_name = '{{ user_name|escapejs}}'
        const other_user = roomName.replace(user_name,"")
        let user_details = ""
        
        fetch("{% url 'get_other_user_details' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: JSON.stringify({ username: other_user })
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            if (data.success) {
                let user_details_string = ""
                user_details = data.user_details
                for (let key in user_details) {
                    if (user_details.hasOwnProperty(key)) {
                        user_details_string += key + ": " + user_details[key] + "\n";
                    }
                }
            if (document.querySelector('#chat-log').value == "")
                document.querySelector('#chat-log').value = user_details_string
            } else {
                console.error(data.error);
            }
        })
        .catch(function(error) {
            console.error("An error occurred:", error);
        });
        
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = user_name+':'+messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
      <form action="{% url 'index' %}">
        <button class="button" type="submit">Exit chat</button>
    </form>
{% endblock %}